---
import Wrapper from './Wrapper.astro';
import AlgoliaSearch from './AlgoliaSearch.astro';
import HeaderNav from './HeaderNav.astro';
import LanguageSelector from '../common/LanguageSelector.astro';

const { title, nav, search, translations } = Astro.props;
---

<style>
  .Header {
    position: sticky;
    top: 0;
    z-index: 2;

    border-bottom: 1px solid var(--color-border-default);
    background-color: var(--color-bg-elevated);
  }

  .Header__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
  }

  .Header__title {
    font-weight: 600;
    color: var(--color-fg-emphasis);
    text-decoration: none;
  }

  .Header__nav {
    margin-inline-end: auto;
    margin-inline-start: var(--space-lg);
  }

  @media screen and (max-width: 520px) {
    .Header__nav {
      margin-inline-start: var(--space);
      font-size: var(--font-size-sm);
    }
  }

  .Header__translations + .Header__search {
    margin-inline-start: var(--space-sm);
  }
</style>

<header class="Header">
  <Wrapper padded className="Header__wrapper">
    <a href={Astro.site?.pathname || '/'} class="Header__title" translate="no">
      {title}
    </a>

    {
      nav.items.length > 0 && (
        <div class="Header__nav">
          <HeaderNav nav={nav} />
        </div>
      )
    }

    {
      translations && (
        <div class="Header__translations">
          <LanguageSelector
            defaultLanguageName={translations.defaultLanguageName}
            languages={translations.languages}
          />
        </div>
      )
    }

    {
      search && (
        <div class="Header__search">
          <AlgoliaSearch config={search} />
        </div>
      )
    }
  </Wrapper>
</header>
