---
import path from 'node:path';
import process from 'node:process';
import imageSize from 'image-size';
import Figure from './Figure.astro';

const { src, alt, caption, density = 1 } = Astro.props;

let dimensions;
let url = src;

if (src.startsWith('/')) {
  const root = process.cwd();
  const absolutePath = path.join(root, 'public', src);
  const baseUrl = Astro.site?.pathname || '';
  dimensions = imageSize(absolutePath);
  url = path.join(baseUrl, src);
}
---

<style>
  .Image {
    overflow: hidden;
    border-radius: var(--radius);
    border: 1px solid var(--color-border-default);
    max-width: min(100%, calc(1px * var(--image-width) / var(--image-density)));
    background-color: white;
  }

  .Image__link {
    display: block;
  }

  .Image img {
    aspect-ratio: var(--image-width) / var(--image-height);
  }
</style>

<Figure>
  <div
    class="Image"
    style={dimensions &&
      [
        `--image-width: ${dimensions.width};`,
        `--image-height: ${dimensions.height};`,
        `--image-density: ${density};`,
      ].join('')}
  >
    <a class="Image__link" title="Expand image" href={url} target="_blank">
      <img src={url} {alt} loading="lazy" />
    </a>
  </div>
  {caption && <Fragment slot="caption">{caption}</Fragment>}
</Figure>
