---
import path from 'node:path';
import process from 'node:process';
import imageSize from 'image-size';
import Figure from './Figure.astro';

const { src, alt, caption, density } = Astro.props;

let width;
let url = src;

if (src.startsWith('/')) {
  const root = process.cwd();
  const absolutePath = path.join(root, 'public', src);
  const baseUrl = Astro.site?.pathname || '';
  width = imageSize(absolutePath)?.width;
  url = path.join(baseUrl, src);
}

---

<style>
  .Image {
    overflow: hidden;
    border-radius: var(--radius);
    border: 1px solid var(--color-border-default);
    max-width: min(100%, calc(var(--image-width) / var(--image-density)));
    background-color: white;
  }

  .Image__link {
    display: block;
  }
</style>

<Figure>
  <div
    class="Image"
    style={width && density && `--image-width: ${width}px; --image-density: ${density}`}
  >
    <a
      class="Image__link"
      title="Expand image"
      href={url}
      target="_blank"
    >
      <img src={url} {alt} />
    </a>
  </div>
  <Fragment slot="caption">{caption}</Fragment>
</Figure>
